{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage:home' username %}">ShareAndCare</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">More Menu</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <h5>Title: {{ post.title }}</h5>
  <h5>Description: {{ post.description }}</h5>
  <h5>Date published: {{ post.publishing_date }}</h5>
  <h5>Country: {{ post.country }}</h5>
  <h5>City: {{ post.city }}</h5>
  <h5>Address: {{ post.address }}</h5>
</div>
{% endblock %}
