{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage:home' username %}">ShareAndCare</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      More Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <h1>Profile:</h1>
  <p>Username: {{ username }}</p>
  <p>First name: {{ user.first_name }}</p>
  <p>Last name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
  <a href=""><button class="btn btn-primary my-2 my-sm-0">Edit profile</button></a>
</div>
{% endblock %}
