{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'account:home' %}">ShareAndCare</a>
</nav>
<div class="container">
  <form class="form" action="{% url 'account:signup' %}" method="POST">
    {% csrf_token %}
    <h1>Join ShareAndCare</h1>
    <div class="form-group">
      <label>Username:</label>
      {{ form.username }}
    </div>
    <div class="form-group">
      <label>Enter Email:</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      <label>First Name:</label>
      {{ form.first_name }}
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      {{ form.last_name }}
    </div>
    <div class="form-group">
      <label>Enter password:</label>
      {{ form.password1 }}
    </div>
    <div class="form-group">
      <label>Confirm Password:</label>
      {{ form.password2 }}
    </div>
    <br>
    <button class="btn btn-primary btn-block">Sign Up</button>
  </form>
  <div id="message">
    <h3>Password must contain the following:</h3>
    <p>Must contain a <b>number</b></p>
    <p>Minimum <b>8 characters</b></p>
    <p>Can't be totally <b>numeric</b></p>
  </div>
</div>
{% endblock %}
