{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage:home' username %}">ShareAndCare</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">More Menu</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <form action="{% url 'account:update_password' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>Old password:</label>
      {{ form.old_password }}
    </div>
    <div class="form-group">
      <label>New password:</label>
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      <label>Retype new password:</label>
      {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
  </form>
</div>
{% endblock %}
