{% extends 'base.html' %}

{% block title %}Add post{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage:home' username %}">ShareAndCare</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">More Menu</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <form class="form" action="{% url 'foodpost:addpost' %}" method="POST">
    {% csrf_token %}
    <h1>Add new post</h1>
    <div class="form-group">
      <label>Title:</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label>Description:</label>
      {{ form.description }}
    </div>
    <div class="form-group">
      <label>Country:</label>
      {{ form.country }}
    </div>
    <div class="form-group">
      <label>City:</label>
      {{ form.city }}
    </div>
    <div class="form-group">
      <label>Address:</label>
      {{ form.address }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Create post</button>
  </form>
</div>
{% endblock %}
