{% extends 'base.html' %}

{% block title %}Your Posts{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage:home' username %}">ShareAndCare</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">More Menu</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
    </div>
  </div>
</nav>
<div class="container">
  <a href="{% url 'foodpost:addpost' %}"><button class="btn btn-primary my-2 my-sm-0">New Post</button></a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'homepage:home' username %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'foodpost:mypost' %}">My Posts</a>
    </li>
  </ul>
  <table class="table table-hover">
    <thead>
      <th scope="col">Your posts</th>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for post in my_posts %}
          <ul>
            <a class="btn btn-link" href="{% url 'foodpost:myPostDetail' post.id %}">{{ post.title }}</a>
          </ul>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
